.video-Row {
  width: 100vw;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.col {
  margin: 10px;
}

.container-fluid {
  padding: 0px;
}

.video-home-title {
  height: 100%;
  color: white;
  padding-top: 20px;
  text-align: center;
  font-size: 52px;
  margin-left: 0px;
  padding: 0px;
  margin: 0px;
  text-shadow: 2px 2px 4px black;
}