#Row{
    margin-top: auto;
    padding: auto;
}
.navbar{
    position: fixed;
  top: 0;


}
.bg-grey{
    background-color: #403c5f;
}
.nav-link{
  font-family:fantasy;
}
.nav-links.expand{
  display:block
}