.mainElement {

    width: 100%
}

.body {
    font-family: Trebuchet MS, sans-serif;
    color: white;
    font-weight: bolder;
}

.title {
    font-family: fantasy;
    color: white;
}

.news-carousel-caption {
    text-align: center;
    width: 50%;
    max-height: 200px;
    overflow: hidden;
}

.news-carousel-caption-top {
    top: 50px;
}

.news-carousel-caption-bottom {
    bottom: 20px;
}

.news-carousel-title,
.news-carousel-body {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: normal;
}

.news-carousel-title {
    margin-bottom: 10px;
}

.news-carousel-title-first {
    font-size: 50px;
}

.news-carousel-title-large {
    font-size: 300%;
}

.news-carousel-body {
    width: 100%;
}

.carousel {
    background-color: '#403053';
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;

}

.carousel-img {
    height: clamp(250px, 50vh, 700px);
    ;
    width: 60%;

    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    object-fit: fill;
}

#cardRow {
    border-color: white;
    border-width: 5px;
    height: 100%;
    border-style: solid;
    padding: 0px;
    margin: 0px;
}

#cardRow:hover {
    border-color: #F1535d;
    border-width: 5px;
    border-style: solid;
    transition: 0.3s;
}

.carousel.slide {
    height: 100%;
    margin-bottom: 0%;

}

.carousel-indicators {
    margin: 0%;
    position: absolute;
    bottom: 10px;
    z-index: 10;
}

.carousel-inner {

    height: 100%;
}

.carousel-item {

    height: 100%;
}

#GameTitle {
    height: 20%;
    color: white;
    padding-top: 20px;
    text-align: center;
    margin-left: 0px;
}