.body{
    font-family: Didot, serif;
    color: white;
}
.title{
    font-family:fantasy;
    color: white;
}
.main-background{
    background-image: url('../wp-coponents/image/KomikoAI (7).png');
    background-size:stretch;
    background-position: center;
    padding-top: 50px;

   
}