h1{
    color: black;
    font-size: 3rem;
    text-align:left ;
    margin-left: 2rem;
    font-family:fantasy;
    
}
.container{
    height: inherit;
    padding: 0;
    margin: 0;
}
.container.switch{
         transform: rotateY(180deg);

}
.Move{
    animation: pulse 2s linear infinite;
}
.Card{
    max-height: 450px;
    width: 100%;
    height: 100%;
    max-width: 490px;
    border: 5px solid #F2a3a8;
    cursor: pointer;
    display: flex;
    flex-direction: column;
   

}
.card-img-top.card-img{
  max-height: 200px;
  object-fit:fill;
}
.Card:hover{
    border: 5px solid #F1535d;
    transition: 0.3s;
    
   
}

.card-body{
    height:max-content;
    position: relative;
    padding-bottom: 0px;
}
.card-img.switch{
     transform: rotateY(180deg);
   
}
.Card.switch{
    
    transform: rotateY(180deg) ;
    
}
#startSwitch{
        transform: rotateY(180deg) ;

}
.black-overlay{
height: 100%;
 
background-color: black;
}

.card-link{
    color: #F1535d;
    position: bottom;
    font-family: fantasy;
    font-size: 13px;
    padding: 0px;;
;
}
.card-link-spacing{
   padding:0px;
   padding-top: 10px;



    
}



.card-link:hover{
    color: #D852f2;
text-decoration: underline;
    
}


.Card-Body-Background{
    background-color: #403c5f;
    padding-top: 5px;
}
.Card-Body-Background.switch{
        transform: rotateY(180deg);

}
.card-Title{
        font-family:fantasy;
font-size: clamp(20px, 1vw, 22px);

  overflow: hidden;

  -webkit-line-clamp: 6;
  -webkit-box-orient: horizontal;   
   font-weight: bold;
        color: white;

}
.card-Title.switch{
        transform: rotateY(180deg);

}
.card-Title:hover{
    cursor:text;
}
.card-text{
    color: white;
    font-family: Trebuchet MS, sans-serif;
font-size: 12px;
  max-height: 100px;
  overflow:scroll;
  transition: 0.3s;
}
.card-text.switch{
    transform: rotateY(180deg);
}
.card-text:hover{
    cursor:text;
    
}
#card{
   width: 100%;
  height: auto;

  object-fit:fill;
}
#img{
    height: auto;
    
}
.col-6{

    padding-left: 20px;
    padding-right: 20px;
}
#cardRow{
    border-color: white;
    border-width: 5px;
    border-style: solid
}
.btn{
    color: white;
    padding: 2px;
    font-size: 15px;
    justify-content:center;
    text-align: center;
    width: 80px;
    height: 50px;
    background-color: #f2a3a8;
    border: 1px solid #f2a3a8;
}
.btn:hover{
    background-color: #f1535d;
    border: 1px solid #f1535d;
    color: white;
}

#buttonRow{
    justify-content: center;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
}

.col-md-4{
    max-height: 440px;;
}
.container::-webkit-scrollbar {
  height: 12px; /* horizontal scrollbar size */
}

.container::-webkit-scrollbar-track {
  background: blue; /* background track */
}

.container::-webkit-scrollbar-thumb {
  background: blue; /* draggable part */
  border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}

@keyframes pulse{
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
