h1 {
    color: black;
    font-size: 3rem;
    text-align: left;
    margin-left: 2rem;
    font-family: fantasy;
}

.container {
    height: inherit;
    padding: 0;
    margin: 0;
}

.game-card-col {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 5px;
}

.game-card-container {
    max-width: 210px;
    height: inherit;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
}

.container.switch {
    transform: rotateY(180deg);
}

.Move {
    animation: pulse 2s linear infinite;
}

.Card {

    width: 100%;
    height: 100%;

    border: 5px solid #F2a3a8;
    padding: 0px;
    margin: 0px auto;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: border-color 0.3s ease;
}

.Card::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 5px;
    width: 8px;
}

.Card::-webkit-scrollbar-thumb {
    background-color: #f2a3a8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.Card::-webkit-scrollbar-thumb:hover,
.Card.scrolling::-webkit-scrollbar-thumb {
    background-color: #F1535d;
    transition: background-color 0.3s ease;
}

.card-img {
    min-height: 30%;
    max-height: 100%;
    object-fit: stretch;
    object-position: top;
}

.Card:hover {
    border: 5px solid #F1535d;
    transition: 0.3s;
}

.card-img.switch {
    transform: rotateY(180deg);
}

.Card.switch {
    transform: rotateY(180deg);
}

#startSwitch {
    transform: rotateY(180deg);
}

.black-overlay {
    height: 100%;
    background-color: black;
}

.card-link {
    color: #F1535d;
    position: bottom;
    font-family: fantasy;
    font-size: 13px;
    padding: 0px;
}

.card-link-spacing {
    padding: 0px;
    padding-top: 10px;
}

.borderFade {
    animation: fadeOut 2s forwards;
}

.card-link:hover {
    color: #D852f2;
    text-decoration: underline;

}


.card-body {

    background-color: #403c5f;
}

.card-body.switch {
    transform: rotateY(180deg);

}

#Card {
    overflow-y: scroll;
    background-color: #403c5f;

}

#CardTitle {
    background-color: #403c5f;
    margin-bottom: 0px;
    margin-right: 10px;
}

#CardBody {
    background-color: #403c5f;
    height: 40%;
    padding: 0px;
    margin-top: 0px;
    margin-right: 10px;
}

#CardText {
    background-color: #403c5f;
    margin-bottom: 0px;
    margin-right: 10px;
    padding: 0px;
}

#CardButtons {
    height: 20%;


}

.card-title {
    height: 25%;
    padding-bottom: 0px;

    font-family: fantasy;
    font-size: clamp(20px, 1vw, 22px);


    -webkit-line-clamp: 6;
    -webkit-box-orient: horizontal;
    font-weight: bold;
    color: white;

}

.card-title.switch {
    transform: rotateY(180deg);

}

.card-title:hover {
    cursor: text;
}

.card-text {
    color: white;
    font-family: Trebuchet MS, sans-serif;
    font-size: 12px;
    height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.3s;
}

.card-text.switch {
    transform: rotateY(180deg);
}

.card-text:hover {
    cursor: text;


}

.card-text::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 5px;
    width: 8px;
}

.card-text::-webkit-scrollbar-thumb {
    background-color: #f2a3a8;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-text.scrolling::-webkit-scrollbar-thumb {
    background-color: #F1535d;
    transition: background-color 0.3s ease;
}

#card {
    width: 100%;
    height: auto;

    object-fit: fill;
}

#gameList {
    overflow-y: hidden;
    overflow-x: auto;
    height: 450px;
    background-color: transparent;
}

#gameList::-webkit-scrollbar {
    background-color: white;
    height: 10px;
}

#gameList::-webkit-scrollbar-thumb {
    background-color: #F2a3a8;
    border-radius: 5px;

}


.col-6 {

    padding-left: 20px;
    padding-right: 20px;
}

#cardRow {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    transition: border-color 0.3s ease;
    width: '100%';
    height: '100%';
}

#cardRow:hover {
    border-color: #F1535d;
    border-width: 5px;
    border-style: solid;
    transition: 0.3s;
}

.btn {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 5px;
    margin-right: 10px;

    background-color: #f2a3a8;
    border: 4px solid #f2a3a8;
}

.btn:hover {
    background-color: #f1535d;
    border: 4px solid #f1535d;
    color: white;
}

#buttonRow {
    justify-content: center;
    display: flex;
    height: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

#buttonRowSize {
    height: 25%;
    width: 100%;
}

.col-md-4 {
    max-height: 440px;
    ;
}

#GameTitle {
    height: 20%;
    color: white;
    padding-top: 20px;
    text-align: center;
    margin-left: 0px;
    text-shadow: 2px 2px 4px black;
}

.card-symbol {
    position: absolute;
    color: white;
    top: 5px;
    right: 10px;
    z-index: 2;
    font-size: 30px;
}

@media (max-width: 992px) {
    #GameTitle {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    #GameTitle {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    #GameTitle {
        font-size: 24px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }

}

@media(max-width: 992px) {
    .btn {
        background-color: #f2a3a8;
        border: 14px solid #f2a3a8;
    }

    .btn:hover {
        background-color: #f1535d;
        border: 14px solid #f1535d;
        color: white;
    }


}

@media(max-width: 768px) {
    .btn {
        background-color: #f2a3a8;
        border: 10px solid #f2a3a8;
    }

    .btn:hover {
        background-color: #f1535d;
        border: 10px solid #f1535d;
        color: white;
    }


}

@media(max-width: 576px) {
    .btn {
        background-color: #f2a3a8;
        border: 6px solid #f2a3a8;
    }

    .btn:hover {
        background-color: #f1535d;
        border: 6px solid #f1535d;
        color: white;
    }


}

@keyframes fadeOut {



    100% {
        color: #F1535d;
        opacity: 100%;
    }

    50% {
        color: #F1535d;
        opacity: 50%;
    }

    0% {
        color: white;
        opacity: 100%;
    }
}