h1{
    font-size: 3rem;
    text-align:left ;
    margin-left: 2rem;
    font-family:fantasy;
    
}
.Card{
    border: 5px solid #F2a3a8;
}
.card-link{
    color: #D852f2;
}
.Card-Body-Background{
    background-color: #403c5f;
}
.card-Title{
    color: white;
}
.card-text{
    color: white;
  max-height: 100px;
  overflow: hidden;
  transition: 0.3s;
}