.row{
    padding-top:10px;
}
.body{
    font-family: Trebuchet MS, sans-serif;
    color: white;
    font-weight: bolder;
}
.title{
    font-family:fantasy;
    color: white;
}
.carousel{
    backgroundColor: '#403053';
    margin-top: 50px;
    margin-bottom: 50px;
}
.carousel-img{
  height: 400px;
  width: 800px;
  object-fit: fill;
}
