.ProfileImg{
    justify-content: center;
    
    width: 200px;
    height: 200px;
}
.Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  height: 100vh;
    background-color: black;
}

.BottomWebLinks{

     position: fixed;
  bottom: 0;
    width: 100vw;
}
body{
    margin: 0;
    padding: 0;
}
.footer {
  
  bottom: 0;
  width: 100vw;
}
p{
    width: 100%;
    max-width: none;
}
.text{
    color: white;
    font-size: 20px;
}
