.ProfileImg{
    justify-content: center;
    
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left:  100px;
}


.BottomWebLinks{

     position: fixed;
  bottom: 0;
    width: 100vw;
}
body{
    margin: 0;
    padding: 0;
}
.footer {
  bottom: 0;
}
p{
    width: 100%;
    max-width: none;
}
.Text{
    color: white;
  text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;;
 font-family: Trebuchet MS, sans-serif;
 font-size: 20;
 text-align: center;

 
}


.Profile-container{
    margin-top: 50px;
    height: 100%;
    background-image: url('/Users/cesarbarrera/Documents/GitHub/Game_Studio_Website/src/components/pages/wp-coponents/image/jase-bloor-oCZHIa1D4EU-unsplash.jpg');
   background-size:cover;
   
}
#root{
    height: 100vh;
}
.card{
    height: 100%;
    background: none;
    justify-content: center;

}



#cardP{
    border-color: white;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    transition: border-color 0.3s ease;

}
#cardP:hover{
    border-color: #F1535d;
    border-width: 5px;
    border-style: solid;
    transition: 0.3s;
}
#pencil{
    color: white;
    text-align: center;
    border-color: black;
background-color: black;
}
#pencil:hover{
    color: #F1535d;
    transition: 0.3s;
}
.infoRightFormat{
    margin-right: 0px;
    
}
.infoLeftFormat{
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}